* {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
@font-face {
  font-family: impactfont;
  src: url('../fonts/impact.ttf');
}
@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: roboto-light;
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: roboto-italic;
  src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
  font-family: fa;
  src: url('../fonts/fa/fa-solid-900.ttf');
}

/* BASIC */
body {
  background-color: #ffffff;
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* COMPONENT */

/* main header */
.main-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 3.125rem; */
  box-shadow: 0px 1px 0px #dbdbdb;
}
.main-header-btns {
  display: flex;
  gap: 3.125rem;
}
.main-header button {
  font-size: 1rem;
  color: #989898;

  font-family: roboto;

  line-height: 1.25rem;
}
.main-header button:hover {
  color: #ff9826;
  cursor: pointer;
}

/* main canvas */
.canvas-conatiner {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60vw;
}

#main-canvas {
  background-color: antiquewhite;
}

/* main-gellery */
.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.125rem, 1fr));
  /* grid-template-rows: 4rem, 6rem, 7rem; */
  gap: 0.93rem;
  place-content: center;
  margin-bottom: 1.5rem;
}

.images-container img {
  border-radius: 10%;
  object-fit: cover;
}
.images-container img:nth-child(odd) {
  height: 15rem;
}

.images-container img:hover {
  width: 105%;
  cursor: pointer;
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.75);
}

.search-bar {
  font-family: roboto-italic;
  padding: 1.875rem 1.25rem;
  display: flex;
  justify-content: center;
}
.search-bar input {
  padding: 0.65rem 1.5rem;
  font-family: roboto-italic;
  justify-self: center;
  width: 95%;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  font-size: 1rem;
}
.search-bar input::placeholder {
  font-family: roboto-italic;
  font-size: 1rem;
}
/* saved memes gallery */

.saved-memes-container {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  gap: 0.93rem;
  place-content: center;
  margin-top: 3.125rem;
}
.saved-memes-container img {
  border-radius: 10%;
}
.saved-memes-container img:hover {
  cursor: pointer;
  box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.75);
}

/* editor */

.meme-editor {
  display: flex;
  justify-items: end;
}

/* control box */

.control-box {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  height: 94.5vh;
  width: 30%;
}
.control-box .edit-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #727272;
}
.control-box .edit-text-container h3 {
  width: fit-content;
  font-family: roboto;
}

.control-box .download-link {
  font-family: roboto;
  font-size: 1.125rem;
  padding: 1.1rem 2.187rem;
  border-radius: 3rem;
  color: #ffffff;
  background-color: #ff9826;
  width: fit-content;
}

.color-text-inputs {
  border: 1px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  background-color: #ffffff;
}
.color-text-inputs span{
  font-size: larger;
  font-weight: bold;
}

.line-input {
  border: unset;
  border-top: 1px solid #dedede;
  flex-basis: 100%;
  height: 4rem;
}
.line-input ::placeholder {
  color: black;
}

.bottom-control-box {
  transform: translateY(350px);
  display: flex;
  justify-content: space-between;
  align-content: end;
}
.control-box .save-meme-btn {
  font-family: roboto;
  font-size: 1.125rem;
  padding: 1.1rem 2.187rem;
  border-radius: 3rem;
  color: #ffffff;
  background-color: #ff9826;
  width: fit-content;
}

.pallate{
  background-color: #ffffff;
  border: unset;
}
.pallate::before{
  font-family: fa;
  content: '\f1fc';
}
.stroke{
  background-color: #ffffff;
  border: unset;
}
.stroke::before{
  font-family: fa;
  content: '\f031';
}

/* mobile-menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff9826;
  height: 100vh;
  width: 100vw;
}

.mobile-menu button {
  color: #ffffff;
  font-family: roboto-light;
}

.mobile-menu button:hover {
  font-family: roboto;
}
.mobile-menu span {
  color: #ffffff;
  width: 1.375rem;
}

.mobile-menu button:not(:first-child) {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

/* HELPERS */

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  width: fit-content;
  border: unset;
  background-color: unset;
  font-family: roboto;
}

.add-line-btn {
  height: fit-content;
  border: 1px solid grey;
}

.btn:hover {
  cursor: pointer;
}
.close-menu-btn {
  position: absolute;
  top: 1rem;
  right: 0;
  font-size: 0.875rem;
  padding: 1.25rem;
}
.close-menu-btn::before {
  content: 'X';
}

.remove-line-btn::before {
  content: '\1F5D1';
  font-size: 1.5rem;
}

.menu-btn::before {
  content: '☰';
}

.increase-font-btn::before {
  font-family: fa;
  content: '\f031 +';
}
.decrease-font-btn::before {
  font-family: fa;
  content: '\f031 -';
}
.switch-line-btn::before {
  content: '⥮';
  font-size: 1.3rem;
}
.add-line-btn::before {
  content: '+';
  font-size: 1rem;
}
.back-gallery-btn {
  color: #989898;
  width: fit-content;
  height: fit-content;
  font-size: 0.875rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.back-gallery-btn:hover {
  color: #ff9826;
}

@media (max-width: 700px) {
  .images-container {
    grid-template-columns: repeat(auto-fill, minmax(10.5rem, 1fr));
  }
  .images-container img:nth-child(odd) {
    height: 12rem;
  }

  .menu-btn {
    display: inline-block;
  }

  .canvas-conatiner {
    width: 100vw;
    height: 70vw;
  }

  .main-header-btns {
    display: none;
  }

  .meme-editor {
    flex-wrap: wrap;
  }

  .control-box {
    width: 100%;
  }
}
